body {
    text-align: center;
    background:linear-gradient(#b19df2 0%,#ed09ed 100%);
}
img {
    width:175px;
    margin-bottom: 50px;
    border-radius: 50%;
}
.line{
    height:6px;
    background-color: black;
    width:70px;
    margin: 8px auto;
}
.menu{
    top:10px;
    right:30px;
}
.links:hover{
    background-color: fuchsia;
}